
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}
/* global style */
.text-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}
.text-subtitle{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.text-normal{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

*{
    max-width: 1440px;
    margin: auto;
}

header{
    width: auto;
    
}
nav{
    height: 131px;
    display: flex;
    justify-content: space-between;
}
nav button{
    width: 245px;
    height: 57px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    
    padding: 17px 24px 17px 24px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;


}

.banner{
    height: 650px;
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.banner-container{
    width: 1000px;
}
.banner-container h1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
    margin: 24px 0px;
}
.banner-container button{
    width: 244px;
    height: 65px;
    padding: 21px 24px 21px 24px;
    margin: 32px 0px;
    border-radius: 8px;
    border: none;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    }
main, footer{
    max-width: 1140px;
}

/* why web development */
.why-web-dev{
    margin-top: 74px;
    padding: 80px 97px;
    border-radius: 16px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.title-container{
    margin-bottom: 48px;
}
.cause{
    display: flex;
    /* justify-content:end; */
    /* padding: 0; */
    background-color:white;
    margin-bottom: 32px;
    border-radius: 16px;
}
.info{
    width: 50%;
    text-align: left;
}

/* inspiration section */
.inspiration{
    margin: 90px 0 150px 0;
    text-align: center;
}
.i-frame-container{
    margin: 50px;
    border-radius: 16px;
}

.cards{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 48px;
}
.card{
    width: 24%;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.next-target{
    margin: 100px 0 50px 0;
}

.targets{
    margin: 48px 0;

}

.target{
    padding:40px;
    margin-bottom: 24px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    display: flex;
    gap: 10;
    justify-content: space-between;
    align-items: center;
    /* background: rgb(255, 255, 255); */

}
.target-content{
    padding: 10px;
}